.mapDetailsItemView {
  padding: 17px 14px;

  &:hover {
    cursor: pointer;

    .name {
      border-bottom: 1px dotted rgba(255,255,255,0.5);
      margin-bottom: -1px;
    }
  }

  .name {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    display: inline-block;
  }

  .stats {
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}