<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Design, remix, and share your perfect transit map. Transitmix is a simple transit sketching tool for transit agencies and transit planners.">
  <meta name="viewport" content="width=device-width">
  
  <!-- bounce old internet explorer -->
  <!--[if lte IE 9]>
  <meta http-equiv="refresh" content="3;url=http://browser-update.org/update.html" />
  <![endif]-->
  
  <title>Transitmix | A transit sketching tool.</title>

  <!-- typekit -->
  <script src="http://use.typekit.net/xkd8pzb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- mapbox css -->
  <link href="http://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css" rel="stylesheet" />

  <!-- our fresh styles -->
  <link rel="stylesheet" type="text/css" href="<%= asset_path 'application.css' %>">
</head>
<body>
  <p class="description">A sketching tool for transit planners. Transitmix makes it easy to draw new transit lines, understand the underlying costs, and share ideas with the public. Start designing your perfect transit map today!</p>
  <div id="map">
    <a href="https://mapzen.com/" class="mapzen-maplogo" target="_blank">Mapzen</a>
    <a href="http://mapbox.com/about/maps" class="mapbox-maplogo" target="_blank">Mapbox</a>
  </div>

  <!-- underscore templates -->
  <script type="text/template" id="tmpl-feedback-view">
    <div class="feedbackHint">Transitmix是什么？</div>
    <div class="feedbackExpansion" style="display:none">
      <div class="feedbackDescription">这是一个由Code for America开发的公共交通规划应用程式测试版，请帮助我们完善它，欢迎您电邮您的意见給我们。请在Twitter关注我们：<a href="https://twitter.com/transitmixapp" target="_blank">@transitmixapp</a>，或订阅我们的电子简讯：
       <form class="feedbackForm" action="https://tinyletter.com/transitmix" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/transitmix', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <input type="text" style="width:250px" name="email" id="tlemail" placeholder="enter email address" />
        <input type="hidden" value="1" name="embed"/><input class="feedbackSubmit" type="submit" value="Subscribe" />
      </form>
    </div>
  </script>

  <script type="text/template" id="tmpl-home-view">
    <div class="homeViewWrapper">
      <div class="homeTitle">Transitmix</div>
      <div class="homeDescription">设计、合成及分享完美的公共交通线路图。请选择一个城市：</div>
      <div class="homeCityWrapper">
        <span class="homeCity" contenteditable="true">San Francisco, CA</span>
        <span class="homeStartButton">Start</span>
      </div>
    </div>
  </script>

  <script type="text/template" id="tmpl-MapDetailsView">
    <header>
      <h1>{{ name }}</h1>
      <div class="toggleSettings"></div>
      {# if (remixedFromId) { #}
        <div class="source">Remixed from <span class="remixedFrom">#{{ remixedFromId }}</span></div>
      {# } #}
      <div class="stats">
        在这个地图上: <label class="lineCount"></label> 条线路，
        <label class="distance"></label>, 
        每年<label class="costWrapper"><label class="cost"></label> 万元, </label>
        <label class="hoursWrapper"><label class="hours"></label> hrs / year, </label>
        高峰时段有<label class="buses"></label> 辆巴士</div>
    </header>

    <div class="scrollable">
      <div class="lines">
        <!-- Lines are dynamically inserted here -->
      </div>
    </div>

    <div class="actions">
      <div class="left">
        <span class="add">添加线路</span>
      </div>

      <div class="right">
       <span class="export"></span>
       <span class="share">分享</span>
       <span class="remix">合成</span>
      </div>
    </div>

    <div class="sharebox" style="display:none">
        <input type="text" />
        Download <a href="/api/maps/{{ id }}.kml">KML</a> or <a href="/api/maps/{{ id }}.zip">Shapefile</a>
  </script>

  <script type="text/template" id="tmpl-MapDetailsView-empty">
    <header>
      <h1>{{ name }}</h1>
      <div class="toggleSettings"></div>
      欢迎来到这个美丽的城市，这里应该要有公共交通。<span class="add">开始添加一条公交线路吧</span>。
    </header>
    <div class="advancedStart">
    需要操纵更多？<span class="toggleSettingsText">请在这里更改设定</span>。
    </div>
  </script>

  <script type="text/template" id="tmpl-MapDetailsItemView">
    <div class="mapDetailsItemView" style="background:{{ color }}">
      <div class="name">{{ name }}</div>
      <div class="stats">{{ distance }} • {{ total.buses }} buses • {{ totalCost }}</div>
    </div>
  </script>

  <script type="text/template" id="tmpl-LineDetailsView">
    <nav>
      <div class="back">&#8592; 所有线路</div>
      <div class="right">
        <div class="add">添加线路</div>
        <div class="delete">删除</div>
      </div>
    </nav>

    <header style="background: {{ color }}">
      <div class="name" contenteditable="true"><!-- dynamically inserted --></div>
    </header>

    <div class="serviceWindows" style="background: {{ color2 }};">
      <div class="columns">
        <span class="windowName"></span>
        <span class="from">起点</span> 
        <span class="to">终点</span>
        <span class="headway">每</span>
      </div>

      <div class="windows">
        <!-- dynamically inserted -->
      </div>
    </div>

    <div class="outputs" style="background: {{ color3 }}">
      <h2>这条线路:</h2>
      <span class="distance">0 miles</span> <span class="showMileageOutputs"></span><br/>
      <span class="buses">0 buses</span><span class="showBusOutputs"></span><br/>
      <div class="costWrapper">
        <span class="cost">$0</span> / year <span class="showCostOutputs"></span>
      </div>
      <div class="revenueHoursWrapper" style="display:none">
        <span class="bigRevenueHours"></span> / year <span class="showCostOutputs"></span>
      </div>
    </div>

    <div class="outputs advancedOutputs mileageOutputs" style="background: {{ color3 }}">
      <h2>路程:</h2>
      <span class="halfDistance">1.80 miles</span> each way<br/>
      <p>设计不同来回程线路的支援即将推出。</p>
    </div>

    <div class="outputs advancedOutputs busOutputs" style="background: {{ color3 }}">
      <h2>巴士的假定:</h2>
      <input type="text" class="speed"> avg. speed<br/>
      <input type="text" class="layover"> recovery time<br/>
    </div>

    <div class="outputs advancedOutputs costOutputs" style="background: {{ color3 }}">
      <div class="dayCounts">
        其他假定： <input type="text" class="weekdaysPerYear"> 个工作天,<br/>
        <input type="text" class="saturdaysPerYear"> 个周六,
        and <input type="text" class="sundaysPerYear"> 个周日.
      </div>

      <span class="revenueHours">4504</span> 小时运营时间<br/>
      x <input type="text" class="hourlyCost"> 每小时<br/>
      <p><a target="_blank" href="http://www.humantransit.org/02box.html">Read more</a> on transit costs.</p>
    </div>
  </script>

  <script type="text/template" id="tmpl-ServiceWindowView">
    <span class="toggle" style="display:none"></span>
    <span class="windowName"></span>
    <input type="text" class="from"></span>
    <input type="text" class="to"></span>
    <input type="text" class="headway"></span>
  </script>

  <script type="text/template" id="tmpl-NearbyEmptyView">
  <div class="apology">Sorry, we haven't loaded in bus lines for this city yet. But just send us a short note, and we'll get right to it.</div>
  <iframe height="419" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://transitmix.wufoo.com/embed/zwhnrd40xiflgv/"><a href="https://transitmix.wufoo.com/forms/zwhnrd40xiflgv/">Fill out my Wufoo form!</a></iframe><div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</div>
  </script>

  <script type="text/template" id="tmpl-MapSettingsView">
    <h2>常规线路</h2>
    <div class="closeSettings">&#x2715;</div>

    <div class="innerSettings"</div>
      <div class="weekdays">
        <h3>运营时间</h3>
        <div class="weekdayServiceWindows serviceWindows"></div>
      </div>

      <div class="weekends">
        <div class="weekendServiceWindows serviceWindows"></div>
      </div>

      <div class="additional">
        <h3>Advanced</h3>
        <div class="item"><input type="text" class="speed"> avg. speed</div>
        <div class="item"><input type="text" class="layover"> recovery time</div>
        <div class="item"><input type="text" class="hourlyCost"> per hour</div>
      </div>

      <div class="additional">
        <div class="item"><input type="text" class="weekdaysPerYear"> 个工作天</div>
        <div class="item"><input type="text" class="saturdaysPerYear"> 个周六</div>
        <div class="item"><input type="text" class="sundaysPerYear"> 个周日</div>
      </div>

      <div class="additional">
        <div class="item toggleParent serviceHoursToggle"><div class="toggle"></div> 显示运营时间，而不是运营成本</div>
        <div class="item toggleParent metricUnitsToggle"><div class="toggle"></div> Use metric units (km)</div>
        <div class="item">&nbsp;</div>
      </div>
    </div>

    <p>将应用于新线路，<span class="applyToAll">您也可以应用于所有已有的线路。</span>.</p>
  </script>

  <!-- libs -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.stickit/0.7.0/backbone.stickit.min.js"></script>
  <script src="//api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js"></script>

  <!-- the finest quality javascripts -->
  <script type="text/javascript" src="<%= asset_path 'application.js' %>"></script>

  <% if ENV['GOOGLE_ANALYTICS'] %>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= ENV['GOOGLE_ANALYTICS'] %>', 'auto');
    ga('send', 'pageview');
    </script>
  <% end %>
</body>
</html>
